Source: plxsdk
Section: kernel
Priority: optional
Maintainer: Antonio Figueiredo <figueiredo@physik.uni-bonn.de>
Build-Depends: debhelper-compat (= 13), dh-dkms
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/AntonioFigueiredo/PlxSdk
Vcs-Browser: https://github.com/AntonioFigueiredo/PlxSdk
Vcs-Git: https://github.com/AntonioFigueiredo/PlxSdk

Package: plxsdk-dkms
Architecture: all
Depends: ${misc:Depends}, dkms, make, gcc
Recommends: linux-headers-amd64 | linux-headers-686-pae | linux-headers-686 | linux-headers
Provides: plxsdk
Description: PLX SDK kernel module and development tools
 to be built with DKMS.
