#!/usr/bin/make -f
#export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with dkms

override_dh_install:
	dh_install src/Driver/* usr/src/plxsdk-$(DEB_VERSION)/
	dh_install src/PlxApi/* usr/src/plxsdk-$(DEB_VERSION)/
	dh_install src/Bin/* usr/bin/
	dh_install src/Samples/* usr/share/plxsdk/examples/

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION)